name: Release

on:
  merge_group:
    types:
      - checks_requested
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '.github/dependabot.yml'
      - '.gitignore'
  workflow_dispatch:
  push:
    tags:
      - '*.*.*'

# Cancel previous runs on the same PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_TOOLCHAIN: nightly-2025-11-28
  UV_VERSION: 0.9.26

jobs:
  build:
    name: Build wheel
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
          - '3.14t'
        target:
          - 'x86_64-unknown-linux-gnu'
          - 'aarch64-unknown-linux-gnu'
          - 'universal2-apple-darwin'
          - 'x86_64-pc-windows-msvc'
          - 'aarch64-pc-windows-msvc'
        include:
          - target: 'x86_64-unknown-linux-gnu'
            runs-on: 'ubuntu-latest'
          - target: 'aarch64-unknown-linux-gnu'
            runs-on: 'ubuntu-24.04-arm'
          - target: 'universal2-apple-darwin'
            runs-on: 'macos-latest'
          - target: 'x86_64-pc-windows-msvc'
            runs-on: 'windows-latest'
          - target: 'aarch64-pc-windows-msvc'
            runs-on: 'windows-11-arm'
        exclude:
          - python-version: '3.10'
            target: 'aarch64-pc-windows-msvc'
          - python-version: '3.14t'
            target: 'aarch64-pc-windows-msvc'
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: ${{ env.UV_VERSION }}
      - uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          target: ${{ matrix.target }}
          rust-toolchain: ${{ env.RUST_TOOLCHAIN }}
          manylinux: auto
          args: --release -i python${{ matrix.python-version }} --features unstable-simd
      - run: uv sync --frozen --no-install-project
      - run: uv pip install ormsgpack --no-index -f target/wheels
      - run: uv run --no-sync pytest
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ormsgpack-${{ matrix.target }}-${{ matrix.python-version }}
          path: target/wheels
          retention-days: 1

  build-linux:
    name: Build Linux wheel
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
        platform:
          - 'linux/amd64'
          - 'linux/arm64'
          - 'linux/arm/v7'
        libc:
          - 'gnu'
          - 'musl'
        include:
          - libc: 'gnu'
            manylinux: 'auto'
            os: 'trixie'
          - libc: 'musl'
            manylinux: 'musllinux_1_2'
            os: 'alpine3.23'
          - platform: 'linux/amd64'
            libc: 'musl'
            target: 'x86_64-unknown-linux-musl'
          - platform: 'linux/arm64'
            libc: 'musl'
            target: 'aarch64-unknown-linux-musl'
          - platform: 'linux/arm/v7'
            libc: 'gnu'
            target: 'armv7-unknown-linux-gnueabihf'
          - platform: 'linux/arm/v7'
            libc: 'musl'
            target: 'armv7-unknown-linux-musleabihf'
          - maturin_args: '--features unstable-simd'
            uv_no_group: ''
          - platform: 'linux/amd64'
            runs-on: 'ubuntu-latest'
          - platform: 'linux/arm64'
            runs-on: 'ubuntu-24.04-arm'
          - platform: 'linux/arm/v7'
            maturin_args: ''
            uv_no_group: 'numpy'
            runs-on: 'ubuntu-24.04-arm'
        exclude:
          - platform: 'linux/amd64'
            libc: 'gnu'
          - platform: 'linux/arm64'
            libc: 'gnu'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          target: ${{ matrix.target }}
          rust-toolchain: ${{ env.RUST_TOOLCHAIN }}
          manylinux: ${{ matrix.manylinux }}
          args: --release -i python${{ matrix.python-version }} ${{ matrix.maturin_args }}
      - if: matrix.uv_no_group != ''
        run: echo UV_NO_GROUP=${{ matrix.uv_no_group }} >> $GITHUB_ENV
      - run: |
          scripts/test-in-container.sh \
              python:${{ matrix.python-version }}-${{ matrix.os }} \
              ${{ matrix.platform }} \
              ${{ github.workspace }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ormsgpack-${{ matrix.target }}-${{ matrix.python-version }}
          path: target/wheels
          retention-days: 1

  build-sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.13
      - uses: PyO3/maturin-action@86b9d133d34bc1b40018696f782949dac11bd380 # v1.49.4
        with:
          command: sdist
          rust-toolchain: ${{ env.RUST_TOOLCHAIN }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ormsgpack-sdist
          path: target/wheels
          retention-days: 1

  release:
    if: startsWith(github.ref, 'refs/tags/')
    name: Release
    runs-on: ubuntu-latest
    needs:
      - build
      - build-linux
      - build-sdist
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          pattern: ormsgpack-*
          path: dist
          merge-multiple: true
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: ${{ env.UV_VERSION }}
      - run: uv publish
